@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Grape+Nuts&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:wght@400;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: outfit;
}
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content{
  display: flex;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo{
  width: max(10%,80px);
}
.navbar .profile{
  width: 40px;
  border-radius: 50%;
}
.sidebar{
  width: 18%;
  min-height: 100vw;
 border: 1.5px solid #a9a9a9;
 border-top: 0;
 font-size: max(1vw,10px);

}
.sidebar-options{
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-option{
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #a9a9a9;
  padding: 8px 10px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
}
.sidebar-option.active{
  background-color: #b5c7f6;
  border-color: blue;
}
.item-flex{
  margin-top: 5%;
  margin-left: 2%;
  width: 990px;
}
.add{
  margin-top: 4%;
  margin-left: 5%;
  width: 70%;
  color: #6d6d6d;
  font-size: 16px;
}
.add from{
  gap: 20px;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;

} 
.add-img-upload img{
  width: 120px;
}
.add-product-description, .add-product-name{
  width: max(40%,280px);
}
.add-product-description textarea, .add-product-name input{
  padding: 10px;
}
.add-category-price{
  display: flex;
  gap: 30px;
}
.add-category-price select, .add-category-price input{
  max-width: 120px;padding: 10px;

}
.add-btn{
max-width: 120px;
border: none;
padding: 10px;
background-color: black;
color: white;
cursor: pointer;
}
.list-table-format{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 8%;
  padding: 12px 15px;
  /* border: 1px solid #cacaca; */
  font-size: 13px;

}
.list-table-format p{
  width: 120px;
}
.list-table-format b{
  width: 100px;
}
.list-table-format-1 p{
  width: 100px;
}
.list-table-format-1 b{
  width: 85px;
}
.list-table-format-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10%;
  width: 800px;
  padding: 12px 15px;
  /* border: 1px solid #cacaca; */
  font-size: 13px;
}

.list-table-format img{
  width: 50px;
}
.list-table-format-1 img{
  width: 50px;
}
.cursor{
  cursor:pointer;
}
.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 1px solid rgb(251, 62, 28);
  padding: 20px;
  margin: 30px 0;
  font-size: 14px;
  color: #505050;
}

.order-item-food, .order-item-name{
font-weight: 700;
}
.order-item-name{
  margin-top: 30px;
  margin-bottom: 5px;

}
.order-item-address{
  margin-bottom: 10px;
}
.order-item select{
  background-color: #ffe8e4;
  border: 1px solid rgb(240, 39, 4);
  width: max(10vw,120px);
  padding: 10px;
  outline: none;
}
.item-flex{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
@media (max-width:1000px) {
 .order-item{
  font-size: 12px;
  grid-template-columns: 0.5fr 2fr 1fr ;
  padding: 15px 8px;
 }
 .order-item select{
  padding: 5px;
  font-size: 12px;
 }
 .order-item img{
  width: 40px;
 }
}
@media (max-width:900px) {
  .sidebar-option p{
    display: none;
  }
 
}
@media (max-width:600px) {
  .list-table-format{
    grid-template-columns:1fr 3fr 1fr ;
    gap: 15px;
  }
  .list-table-format.title{
    display: none;
  }
 
  }